In [2]:
import pandas as pd
import unicodedata 
import re

### Exercício 1

A base cadastral acima necessita dos seguintes tratamentos:

a.  Tratamento do campo nome:

- remover os acentos
- remover os espaços do começo e do final da string
- padronização para minúsculo

b.  Tratamento do campo e-mail:

- Repetir os tratamentos que foram aplicados no campo nome no campo e-mail.
- Criar uma coluna com valor booleano chamada valido, sendo 1 = e-mail válido e 0 = e-mail não válido. Os e-mails válidos são aqueles que possuem @ e terminam com “.com” ou “.com.br”

In [2]:
df = pd.read_csv("../Dados/cadastro.csv", encoding='latin-1', sep = ";")
df

                 nome  idade                        e-mail
0   Carolina da Silva     35        carolina.sil@gmail.com
1   gabrielly rezenDe     43       gabi_rezende@google.com
2       Bernardo Dias     70          bernardodias@aws.com
3    helena gonçalves     23    helena.gonçalves.gmail.com
4      Renan Caldeira     61     renan_calDEIRA@google.com
5         Lucca Lopes     46                  lucca.com.br
6       André Ribeiro     39  andré_ribeiro.outlook.com.br
7        João Marcelo     32            joão_ma@outlook.br
8        Joana da Luz     22           joluz@google.com.br
9     Vicente Moreira     19     vicente.moreira@maxxi.com
10    Camila d' Rocha     51           milarocha@gmail.com
11     Elisa Monteiro     30      Elisa_mo23@yahoo.com.bre
12       Daniela Dias     43            danidias@maxxi.com
13       danIel Gomes     20            danieldias@aws.com
14    Heitor Nogueira     64     nogueira_heitor@gmail.com

In [3]:
df.columns

Index(['nome', 'idade', 'e-mail'], dtype='object')

#### Solução item a)

**a)** Remover os acentos.

In [11]:
df_users = df.copy()

In [12]:
def strip_accents(s):
    n = unicodedata.normalize('NFKD', s)
    s_new =  ''.join([c for c in n if not unicodedata.combining(c)])
    return s_new

In [13]:
df_users["nome"] = df_users["nome"].apply(lambda x: strip_accents(x))

In [15]:
df_users["nome"]=df_users["nome"].str.replace("[^a-zA-Z ]", "", regex=str)

In [16]:
df_users["nome"]

0     Carolina da Silva
1     gabrielly rezenDe
2         Bernardo Dias
3      helena goncalves
4        Renan Caldeira
5           Lucca Lopes
6         Andre Ribeiro
7          Joao Marcelo
8          Joana da Luz
9       Vicente Moreira
10       Camila d Rocha
11       Elisa Monteiro
12         Daniela Dias
13         danIel Gomes
14      Heitor Nogueira
Name: nome, dtype: object

**b)** Remover os espaços do começo e do final da string.

In [17]:
df_users["nome"] = df_users["nome"].str.strip()

**c)** Todas as letras em minúsculo.

In [18]:
df_users["nome"] = df_users.nome.str.lower()

In [19]:
df_users

                 nome  idade                        e-mail
0   carolina da silva     35        carolina.sil@gmail.com
1   gabrielly rezende     43       gabi_rezende@google.com
2       bernardo dias     70          bernardodias@aws.com
3    helena goncalves     23    helena.gonçalves.gmail.com
4      renan caldeira     61     renan_calDEIRA@google.com
5         lucca lopes     46                  lucca.com.br
6       andre ribeiro     39  andré_ribeiro.outlook.com.br
7        joao marcelo     32            joão_ma@outlook.br
8        joana da luz     22           joluz@google.com.br
9     vicente moreira     19     vicente.moreira@maxxi.com
10     camila d rocha     51           milarocha@gmail.com
11     elisa monteiro     30      Elisa_mo23@yahoo.com.bre
12       daniela dias     43            danidias@maxxi.com
13       daniel gomes     20            danieldias@aws.com
14    heitor nogueira     64     nogueira_heitor@gmail.com

Como ficaria uma função com todos os tratamentos anteriores?

In [ ]:
def tratamento_campos1(s):
    s_new = strip_accents(s)
    s_new = re.sub(r'[^a-zA-Z0-9\s]', '', s_new) #\s pode conter espaços
    return s_new.strip().lower()

In [ ]:
df["nome"].apply(lambda x: tratamento_campos1(x))

In [ ]:
def tratamento_campos2(X, col):
    df = X.copy()
    df[col] = df[col].apply(lambda x: strip_accents(x))
    df[col] = df[col].str.replace("[^a-zA-Z ]", "", regex=str)
    df[col] = df[col].str.strip()
    return df

In [ ]:
tratamento_campos2(df, "nome")

#### Solução parte 2

**a)** Aplicar os tratamentos do campo nome (1.a, 1.b e 1.c).

In [ ]:
df_users["e-mail"] = df_users["e-mail"].apply(lambda x: strip_accents(x))
df_users["e-mail"] = df_users["e-mail"].str.lower().str.replace("[^a-zA-Z0-9 @_.]", "", regex=str).str.strip()

In [ ]:
df_users

**b)** Criar uma nova coluna com valor booleano, sendo 1 = e-mail válido e 0 = e-mail não válido. Os e-mails válidos são aqueles que possuem "@" e terminam com “.com” ou “.com.br”.

In [21]:
substring_1 = "@"
substring_2 = ".com$"
substring_3 = ".com.br$"

In [ ]:
df_users["valido"] = (
    (df_users["e-mail"].str.contains(substring_1, regex = True) &\
      df_users["e-mail"].str.contains(substring_2, regex = True)) | \
(df_users["e-mail"].str.contains(substring_1, regex = True) &\
  df_users["e-mail"].str.contains(substring_3, regex = True))
).astype(int)

In [23]:
df_users

                 nome  idade                        e-mail  valido
0   carolina da silva     35        carolina.sil@gmail.com       1
1   gabrielly rezende     43       gabi_rezende@google.com       1
2       bernardo dias     70          bernardodias@aws.com       1
3    helena goncalves     23    helena.gonçalves.gmail.com       0
4      renan caldeira     61     renan_calDEIRA@google.com       1
5         lucca lopes     46                  lucca.com.br       0
6       andre ribeiro     39  andré_ribeiro.outlook.com.br       0
7        joao marcelo     32            joão_ma@outlook.br       0
8        joana da luz     22           joluz@google.com.br       1
9     vicente moreira     19     vicente.moreira@maxxi.com       1
10     camila d rocha     51           milarocha@gmail.com       1
11     elisa monteiro     30      Elisa_mo23@yahoo.com.bre       0
12       daniela dias     43            danidias@maxxi.com       1
13       daniel gomes     20            danieldias@aws.com       1
14    heitor nogueira     64     nogueira_heitor@gmail.com       1

### Exercício 2

a. Aplique um tratamento para obter datetimes padronizados

In [3]:
datas = pd.read_table("../Dados/datas.txt", sep = '\t')
datas

                       date
0            07/ 7/15 06:51
1            07/ 7/15 06:53
2            07/ 7/15 06:55
3           07/ 11/15 06:57
4           07/ 11/15 06:59
5   2015-07-07 07:00:46.047
6            07/ 7/15 07:03
7           07/ 13/15 07:05
8            11/ 7/15 07:07
9            11/ 7/15 07:09
10           11/ 7/15 07:11
11           07/ 7/15 07:13
12  2015-07-07 07:15:53.007
13  2015-11-14 23:33:43.000
14  2015-11-14 23:35:44.000
15  2015-11-14 23:37:43.000
16  2015-11-14 23:39:43.000
17  2015-11-14 23:41:43.000
18           11/14/15 23:42
19  2015-11-14 23:45:43.000
20           11/14/15 23:46
21  2015-11-14 23:49:43.000
22  2015-11-14 23:51:44.000

In [4]:
datas.dtypes

date    object
dtype: object

In [5]:
dash_mask = datas['date'].str.contains('-')
slash_mask = datas['date'].str.contains('/')

In [ ]:
datas.loc[dash_mask, 'datetime'] = pd.to_datetime(datas.loc[dash_mask, 'date'], format='mixed')
datas.loc[slash_mask, 'datetime'] = pd.to_datetime(datas.loc[slash_mask, 'date'], format='mixed')

In [8]:
datas['datetime']

0    2015-07-07 06:51:00.000
1    2015-07-07 06:53:00.000
2    2015-07-07 06:55:00.000
3    2015-07-11 06:57:00.000
4    2015-07-11 06:59:00.000
5    2015-07-07 07:00:46.047
6    2015-07-07 07:03:00.000
7    2015-07-13 07:05:00.000
8    2015-11-07 07:07:00.000
9    2015-11-07 07:09:00.000
10   2015-11-07 07:11:00.000
11   2015-07-07 07:13:00.000
12   2015-07-07 07:15:53.007
13   2015-11-14 23:33:43.000
14   2015-11-14 23:35:44.000
15   2015-11-14 23:37:43.000
16   2015-11-14 23:39:43.000
17   2015-11-14 23:41:43.000
18   2015-11-14 23:42:00.000
19   2015-11-14 23:45:43.000
20   2015-11-14 23:46:00.000
21   2015-11-14 23:49:43.000
22   2015-11-14 23:51:44.000
Name: datetime, dtype: datetime64[ns]

b. Crie um campo apenas com as datas

In [ ]:
datas['datetime'].dt.date

0     2015-07-07
1     2015-07-07
2     2015-07-07
3     2015-07-11
4     2015-07-11
5     2015-07-07
6     2015-07-07
7     2015-07-13
8     2015-11-07
9     2015-11-07
10    2015-11-07
11    2015-07-07
12    2015-07-07
13    2015-11-14
14    2015-11-14
15    2015-11-14
16    2015-11-14
17    2015-11-14
18    2015-11-14
19    2015-11-14
20    2015-11-14
21    2015-11-14
22    2015-11-14
Name: datetime, dtype: object