In [1]:
import pandas as pd
import unicodedata

In [8]:
df_users = pd.read_csv("../Dados/cadastro.csv", encoding='latin-1', sep = ";")
df_users

                 nome  idade                        e-mail
0   Carolina da Silva     35        carolina.sil@gmail.com
1   gabrielly rezenDe     43       gabi_rezende@google.com
2       Bernardo Dias     70          bernardodias@aws.com
3    helena gonçalves     23    helena.gonçalves.gmail.com
4      Renan Caldeira     61     renan_calDEIRA@google.com
5         Lucca Lopes     46                  lucca.com.br
6       André Ribeiro     39  andré_ribeiro.outlook.com.br
7        João Marcelo     32            joão_ma@outlook.br
8        Joana da Luz     22           joluz@google.com.br
9     Vicente Moreira     19     vicente.moreira@maxxi.com
10    Camila d' Rocha     51           milarocha@gmail.com
11     Elisa Monteiro     30      Elisa_mo23@yahoo.com.bre
12       Daniela Dias     43            danidias@maxxi.com
13       danIel Gomes     20            danieldias@aws.com
14    Heitor Nogueira     64     nogueira_heitor@gmail.com

#### Exercício

A base cadastral acima necessita dos seguintes tratamentos:
1. Tratamento do campo nome:
- remover os acentos
- remover os espaços do começo e do final da string
- padronização para minúsculo
2. Tratamento do campo e-mail:
- Repetir os tratamentos que foram aplicados no campo nome no campo e-mail.
- Criar uma coluna com valor booleano chamada valido, sendo 1 = e-mail válido e 0 = e-mail não válido. Os e-mails válidos são aqueles que possuem @ e terminam com “.com” ou “.com.br”

#### Solução parte 1

**a)** Remover os acentos.

**b)** Remover os espaços do começo e do final da string.

**c)** Todas as letras em minúsculo.

Como ficaria uma função com todos os tratamentos anteriores?

#### Solução parte 2

**a)** Aplicar os tratamentos do campo nome (1.a, 1.b e 1.c).

**b)** Criar uma nova coluna com valor booleano, sendo 1 = e-mail válido e 0 = e-mail não válido. Os e-mails válidos são aqueles que possuem "@" e terminam com “.com” ou “.com.br”.