In [1]:
import pandas as pd

In [10]:
clientes = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'nome': ['João', 'Maria', 'Pedro', 'Ana'],
    'cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba']
})

pedidos = pd.DataFrame({
    'id_cliente': [1, 2, 3, 5],
    'produto': ['Laptop', 'Smartphone', 'Tablet', 'TV'],
    'valor': [2000, 1500, 1000, 3000]
})

In [3]:
clientes

   id   nome          cidade
0   1   João       São Paulo
1   2  Maria  Rio de Janeiro
2   3  Pedro  Belo Horizonte
3   4    Ana        Curitiba

In [4]:
pedidos

   id_cliente     produto  valor
0           1      Laptop   2000
1           2  Smartphone   1500
2           3      Tablet   1000
3           5          TV   3000

Inner Join

O Inner Join retorna apenas as linhas que têm um relacionamento válido entre os dois DataFrames.

In [5]:
inner_join = pd.merge(clientes, pedidos, left_on='id', right_on='id_cliente', how='inner')
print("Inner Join:")
print(inner_join)

Inner Join:
   id   nome          cidade  id_cliente     produto  valor
0   1   João       São Paulo           1      Laptop   2000
1   2  Maria  Rio de Janeiro           2  Smartphone   1500
2   3  Pedro  Belo Horizonte           3      Tablet   1000

Left Join

O Left Join retorna todas as linhas do DataFrame à esquerda (clientes) e as linhas correspondentes do DataFrame à direita (pedidos). Se não houver relacionamento, as colunas do DataFrame à direita serão preenchidas com NaN.

In [6]:
left_join = pd.merge(clientes, pedidos, left_on='id', right_on='id_cliente', how='left')
print("\nLeft Join:")
print(left_join)

Left Join:
   id   nome          cidade  id_cliente     produto   valor
0   1   João       São Paulo         1.0      Laptop  2000.0
1   2  Maria  Rio de Janeiro         2.0  Smartphone  1500.0
2   3  Pedro  Belo Horizonte         3.0      Tablet  1000.0
3   4    Ana        Curitiba         NaN         NaN     NaN

Right Join

O Right Join é semelhante ao Left Join, mas retorna todas as linhas do DataFrame à direita (pedidos) e as linhas correspondentes do DataFrame à esquerda (clientes). Se não houver relacionamento, as colunas do DataFrame à esquerda serão preenchidas com NaN.

In [7]:
right_join = pd.merge(clientes, pedidos, left_on='id', right_on='id_cliente', how='right')
print("\nRight Join:")
print(right_join)

Right Join:
    id   nome          cidade  id_cliente     produto  valor
0  1.0   João       São Paulo           1      Laptop   2000
1  2.0  Maria  Rio de Janeiro           2  Smartphone   1500
2  3.0  Pedro  Belo Horizonte           3      Tablet   1000
3  NaN    NaN             NaN           5          TV   3000

Join X Merge no python

Usando Join()

O método join() combina DataFrames com base nos índices. Por padrão, ele realiza um Left Join.

In [11]:
# Usando join()
join_result = clientes.join(pedidos, how='left')
print("Resultado do Join:")
print(join_result)

Resultado do Join:
   id   nome          cidade  id_cliente     produto  valor
0   1   João       São Paulo           1      Laptop   2000
1   2  Maria  Rio de Janeiro           2  Smartphone   1500
2   3  Pedro  Belo Horizonte           3      Tablet   1000
3   4    Ana        Curitiba           5          TV   3000

In [ ]:
# Usando merge()
merge_result = pd.merge(clientes, pedidos, left_on='id', right_on='id_cliente', how='left')
print("\nResultado do Merge:")
print(merge_result)

Resultado do Merge:
   id   nome          cidade  id_cliente     produto   valor
0   1   João       São Paulo         1.0      Laptop  2000.0
1   2  Maria  Rio de Janeiro         2.0  Smartphone  1500.0
2   3  Pedro  Belo Horizonte         3.0      Tablet  1000.0
3   4    Ana        Curitiba         NaN         NaN     NaN